{% extends 'base.html' %}

{% block content %}
<form action="{{ url_for('really_create_account')}}" method="POST" class="">
  <ul class="list-group personal" >
    <li class="list-group-item bold">
      Personal Data
    </li>
    <li class="list-group-item">
      <div class="datalist">
        <div>
          First name:
        </div>
          <input type="text" name="firstname" value="{{firstname}}"/>
      </div>
    </li>
    <li class="list-group-item">
      <div class="datalist">
        <div>
          Last name:
        </div>
          <input type="text" name="lastname" value="{{lastname}}"/>
      </div>
    </li>
    <li class="list-group-item">
      <div class="datalist">
        <div>
          Birthdate:
        </div>
            <input type="date" id="date" name="birthdate" value="{{birthdate}}">
      </div>
    </li>
    <li class="list-group-item">
      <div class="datalist">
        <div>
          Gender:
        </div>
        <div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="inlineRadio1" name="gender" value="f"
            {% if gender == "f" %}checked
            {% else %}unchecked
            {% endif %}>
            <label class="form-check-label" for="inlineRadio1">Female</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="inlineRadio2" name="gender" value="m"
            {% if gender == "m" %}checked
            {% else %}unchecked
            {% endif %}>
            <label class="form-check-label" for="inlineRadio2">Male</label>
          </div>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="datalist">
        <div>
          Phone:
        </div>
        <input type="text" name="phone" value="{{phone}}"/>
      </div>
      </li>
    <li class="list-group-item">
      <div class="datalist">
        <div>
          Email:
        </div>
          <input type="email" name="email" value="{{email}}"/>
      </div> 
    </li>
    <li class="list-group-item">
        <div class="datalist">
          <div>
            Password:
          </div>
            <input type="password" name="password" value="{{password}}"/>
        </div> 
      </li>
  </ul>

  <ul class="list-group personal" >
    <li class="list-group-item bold">
      Membership Data
    </li>
    <li class="list-group-item">
      <div class="datalist">
        <div>
          Membership type:
        </div>
        <div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="membership_type" id="inlineRadio3" value="1"
              {% if membership_type == "1" %}checked
              {% else %}unchecked
              {% endif %}>
              <label class="form-check-label" for="inlineRadio3">Active</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="membership_type" id="inlineRadio4" value="2"
              {% if membership_type == "2" %}checked
              {% else %}unchecked
              {% endif %}>
              <label class="form-check-label" for="inlineRadio4">Passive</label>
            </div>
          </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="datalist">
        <div>
          Sports:
        </div>
        <div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="2" value="2" 
                {% if 2 in sports %}checked
                {% endif %}>
                <label class="form-check-label" for="inlineCheckbox1">Soccer</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="4" value="4"
                {% if 4 in sports %}checked
                {% endif %}>
                <label class="form-check-label" for="inlineCheckbox2">Tennis</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="6" value="6"
                {% if 6 in sports %}checked
                {% endif %}>
                <label class="form-check-label" for="inlineCheckbox3">Volleyball</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox4" name="8" value="8"
                {% if 8 in sports %}checked
                {% endif %}>
                <label class="form-check-label" for="inlineCheckbox4">Gymnastics</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox5" name="10" value="10"
                {% if 10 in sports %}checked
                {% endif %}>
                <label class="form-check-label" for="inlineCheckbox5">Handball</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox6" name="12" value="12"
                {% if 12 in sports %}checked
                {% endif %}>
                <label class="form-check-label" for="inlineCheckbox6">Swimming</label>
              </div>
        </div>
      </div>
    </li>
  </ul>
  <p class="text-danger personal">{{error_statement}}</p>
  <p class="text-success personal">{{update_statement}}</p>
  <div class="row personal">
    <button type="submit" class="btn btn-primary w-25">Create Account</button>
  </div>
  </form>
{% endblock %}