{% extends 'base.html' %}

{% block content %}
<form action="{{ url_for('update_data')}}" method="POST" class="">
  <ul class="list-group personal" >
    <li class="list-group-item bold">
      Personal Data
    </li>
    <li class="list-group-item">
      <div class="datalist">
        <div>
          First name:
        </div>
          <input type="text" name="firstname" value="{{ members.first_name.1 }}"/>
      </div>
    </li>
    <li class="list-group-item">
      <div class="datalist">
        <div>
          Last name:
        </div>
          <input type="text" name="lastname" value="{{ user_info_data.last_name }}"/>
      </div>
    </li>
    <li class="list-group-item">
      <div class="datalist">
        <div>
          Birthdate:
        </div>
          <input type="text" name="birthdate" value="{{ members.birthday.1 }}"/>
      </div>
    </li>
    <li class="list-group-item">
      <div class="datalist">
        <div>
          Gender:
        </div>
        <div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" name="gender" value="f">
            <label class="form-check-label" for="inlineRadio1">Female</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" name="gender" value="m">
            <label class="form-check-label" for="inlineRadio2">Male</label>
          </div>
          </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="datalist">
        <div>
          Phone:
        </div>
        <input type="text" name="phone" value="{{ members.phone_number.1 }}"/>
      </div>
      </li>
    <li class="list-group-item">
      <div class="datalist">
        <div>
          Email:
        </div>
          <input type="text" name="email" value="{{ members.email.1 }}"/>
      </div>
    </li>
  </ul>
  <p class="text-success personal">{{update_statement}}</p>
  <div class="row justify-content-center">
    <button type="submit" class="btn btn-primary personal w-25">Save data</button>
    <button type="submit" class="btn btn-secondary personal w-25">Delete Account</button>  
  </div>
  </form>
{% endblock %}