{% extends 'base.html' %}

{% block content %}
<form action="{{ url_for('update_data')}}" method="POST" class="">
  <ul class="list-group personal" >
    <li class="list-group-item bold">
      Personal Data
    </li>
    <li class="list-group-item">
      <div class="datalist">
        <div>
          Name:
        </div>
          <input type="text" value="{{ members.first_name.1 }} {{ members.last_name.1 }}"/>
      </div>
    </li>
    <li class="list-group-item">
      <div class="datalist">
        <div>
          Birthdate:
        </div>
          <input type="text" value="{{ members.birthday.1 }}"/>
      </div>
    </li>
    <li class="list-group-item">
      <div class="datalist">
        <div>
          Gender:
        </div>
        <div>
          <input className="radio" type="radio" id="female" name="paymentMethod" value="female"> Female </input>
          <input className="radio" type="radio" id="male" name="paymentMethod" value="male"> Male</input>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="datalist">
        <div>
          Phone:
        </div>
        <input type="text" value="{{ members.phone_number.1 }}"/>
      </div>
      </li>
    <li class="list-group-item">
      <div class="datalist">
        <div>
          Email:
        </div>
          <input type="text" value="{{ members.email.1 }}"/>
      </div>
    </li>
  </ul>
  <p class="text-success personal">{{update_statement}}</p>
  <button type="submit" class="btn btn-primary personal">Save data</button>
</form>
{% endblock %}