{% extends 'base.html' %}

{% block content %}
  
  <ul class="list-group personal" >
    <li class="list-group-item bold">
      Personal Data {{test}}
    </li>
    <li class="list-group-item">
      <div class="datalist">
        <div>
          Name
        </div>
        <div>
          {{ user_data.first_name }} {{ user_data.last_name }}
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="datalist">
        <div>
          Birthdate
        </div>
        <div>
          {{ user_data.birthday }}
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="datalist">
        <div>
          Gender
        </div>
        <div>
          {{user_data.gender}}
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="datalist">
        <div>
          Phone
        </div>
        <div>
          {{ user_data.phone_number }}
        </div>
      </div>
      </li>
    <li class="list-group-item">
      <div class="datalist">
        <div>
          Email
        </div>
        <div>
          {{ user_data.email }}
        </div>
      </div>
    </li>
  </ul>

  <ul class="list-group personal" >
    <li class="list-group-item bold">
      Membership Data
    </li>
    <li class="list-group-item">
      <div class="datalist">
        <div>
          Membership Type
        </div>
        <div>
          {{membership_data.membership_name}}
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="datalist">
        <div>
          Duration Group
        </div>
        <div>
          {{duration_group_data.duration_group_name}}
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="datalist">
        <div>
          Role
        </div>
        <div>
          {{role_data.role_name}}
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="datalist">
        <div>
          Sports
        </div>
        <div>
          {{sports}}
        </div>
      </div>
    </li>
  </ul>
  <br/>
  <ul class="list-group personal" >
    <li class="list-group-item bold">
      Discounts
    </li>
    <li class="list-group-item">
      <div class="datalist">
        <div>
          Original Charge
        </div>
        <div>
          {{original_price}} €
        </div>
      </div>
    </li>
    <li class="list-group-item">
    <li class="list-group-item">
      <div class="datalist">
        <div>
          Age Discount
        </div>
        <div>
          {{age_group_data.discount}} %
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="datalist">
        <div>
          Membership Duration Discount
        </div>
        <div>
          {{duration_group_data.discount}} %
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="datalist">
        <div>
          Professionalism Discount
        </div>
        <div>
          {{professionalism_discount}} %
        </div>
      </div>
  </ul>
  <ul class="list-group personal" >
    <li class="list-group-item bold">
      <div class="datalist">
        <div>
          Charge
        </div>
        <div>
          {{price}} €
        </div>
      </div>
    </li>
  </ul>
{% endblock %}